@inherits LayoutComponentBase

<div class="font-gont flex h-screen w-screen bg-default text-default">
	
	<SideBar SwitchPage="switchPage" ActivePage="activePage"/>


	<div class="@(activePage == BeaconPage.SongLibrary ? "" : "hidden") w-full h-full">
		<SongLibrary />
	</div>
	<div class="@(activePage == BeaconPage.BibleLibrary ? "" : "hidden") w-full h-full">
		<BibleLibrary />
	</div>

</div>

@code {
	private BeaconPage activePage = BeaconPage.SongLibrary;

	private void switchPage(BeaconPage page) => activePage = page;
	
}
