@inherits LayoutComponentBase
@inject SettingsService settingsService

<div class="@(settingsService.settings.EnableDarkMode ? "dark":"")">

	<div class="font-gont bg-default text-default flex h-screen w-screen">
	
	<SideBar SwitchPage="switchPage" ActivePage="activePage"/>


	<div class="@(activePage == BeaconPage.SongLibrary ? "" : "hidden") h-full w-full">
			<SongLibrary ShouldReRender="ShouldRender" />
	</div>

	<div class="@(activePage == BeaconPage.BibleLibrary ? "" : "hidden") h-full w-full">
			<BibleLibrary ShouldReRender="ShouldRender" />
	</div>

	<div class="@(activePage == BeaconPage.SettingsPage ? "" : "hidden") h-full w-full">
			<SettingsPage ChangeState="ChangeState" />
	</div>

	</div>
</div>

<span class="text-orange"></span>

@code {

	private BeaconPage activePage = BeaconPage.SongLibrary;

	private void switchPage(BeaconPage page)
	{
		activePage = page;
	} 
	
	private void ChangeState() => StateHasChanged();

	protected override async Task OnInitializedAsync()
	{
		await settingsService.Load();
	}
}
