@inherits LayoutComponentBase

<div class="dark">

	<div class="font-gont bg-default text-default flex h-screen w-screen">
	
	<SideBar SwitchPage="switchPage" ActivePage="activePage"/>


	<div class="@(activePage == BeaconPage.SongLibrary ? "" : "hidden") h-full w-full">
		<SongLibrary />
	</div>
	<div class="@(activePage == BeaconPage.BibleLibrary ? "" : "hidden") h-full w-full">
		<BibleLibrary />
	</div>

	</div>
</div>

@code {
	private BeaconPage activePage = BeaconPage.SongLibrary;

	private void switchPage(BeaconPage page) => activePage = page;
	
}
