@inherits LayoutComponentBase

<div class="font-gont flex h-screen w-screen bg-l-background text-l-text dark:bg-d-background dark:text-d-text">
	
	<SideBar SwitchPage="switchPage" ActivePage="activePage"/>

	@if(activePage == BeaconPage.SongLibrary)
	{
		<SongLibrary/>
	}
	else if (activePage == BeaconPage.SongLibrary)
	{
		<BibleLibrary />
	}

</div>

@code {
	private BeaconPage activePage = BeaconPage.SongLibrary;

	private void switchPage(BeaconPage page)
	{
		activePage = page;
	}
}
