<button @onclick="() => OnClick.InvokeAsync()"
		class="@(String.IsNullOrEmpty(Background) ? "bg-sidepanel " : $"{Background}") space-x-3 text-xs flex items-center justify-center px-5 h-10 rounded-[6px]
		@(String.IsNullOrEmpty(Hover) ? "hover:bg-primary hover:text-d-text-accent " : $"{Hover}")">
	
	@if(!String.IsNullOrEmpty(Icon))
	{
		<span class="font-ark @IconClass">
			@Icon
		</span>
	}
	
	@if(!String.IsNullOrEmpty(Message))
	{
		<span class="font-bold capitalize tracking-widest @MessageClass">
			@Message
		</span>
	}

</button>

@code {
	[Parameter]
	public EventCallback OnClick { get; set; }

	[Parameter]
	public string Icon { get; set; }

	[Parameter]
	public string Message { get; set; }

	[Parameter]
	public string IconClass { get; set; }

	[Parameter]
	public string MessageClass { get; set; }

	[Parameter]
	public string Background {get ;set;}

	[Parameter]
	public string Hover { get; set; }
}
