<button @onclick="async () => 
                    {
                        IsChecked = !IsChecked;
                        await OnClick.InvokeAsync();
                    }"
        class="border-2 space-x-3 text-xs flex px-5 items-center justify-center  rounded-[6px] border-l-text-accent/20 dark:border-d-text-accent/10
			@(IsChecked ? "bg-primary text-accented-on-primary" :
                            "hover:bg-primary hover:bg-opacity-50 hover:text-accented-on-primary h")">

    @if (!  IsChecked)
    {
        <span class="font-ark">
            @IconUnchecked
        </span>

        <span class="font-bold capitalize tracking-widest">
            @MessageUnchecked
        </span>
    }
    else
    {
        <span class="font-ark">
            @IconChecked
        </span>

        <span class="font-bold capitalize tracking-widest">
            @MessageChecked
        </span>
    }

</button>

@code{
    [Parameter]
    public bool IsChecked { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public string IconUnchecked { get; set; }

    [Parameter]
    public string IconChecked { get; set; }

    [Parameter]
    public string MessageUnchecked { get; set; }

    [Parameter]
    public string MessageChecked { get; set; }
}

