@using System.Text.RegularExpressions
@inject IBibleService BibleService
@inject SettingsService settingsService
@inject IJSRuntime jSRuntime

<div class="relative flex h-full w-full">

	<!-- |===== LEFT SIDE ======| -->
	<div class="border-r-2 border-sidepanel left-0 top-0 flex h-full flex-none overflow-auto rounded-r-3xl bg-gradient-to-br from-l-container to-l-background dark:from-d-container dark:to-d-background">

		<div class="flex h-full w-52 flex-col">
			<DebounceInput id="BookSearch" class="bg-default text-accented border-0 mx-5 mt-10 min-h-16 rounded-xl px-3 text-sm placeholder-l-text placeholder-opacity-50 ring-l-primary focus:ring-1 dark:ring-d-primary dark:placeholder-d-text dark:placeholder-opacity-50"
			placeholder="Book" @bind-Value="searchBook" @bind-Value:event="oninput" OnValueChanged="OnBookSearchChanged" ForceNotifyByEnter="true"
			@onkeyup="async (args) => { await OnKeySearch(args, 'b'); }"></DebounceInput>

			<div class="m-5 h-full overflow-auto">
				<BookList Books="books" SelectedBookChanged="BookChanged" SelectedBook="selectedBook"></BookList>
			</div>
		</div>

		<div class="flex h-full w-32 flex-col pt-10">
			<DebounceInput id="ChapterSearch" class="bg-default text-accented border-0 mx-5 min-h-16 rounded-xl px-3 text-sm placeholder-l-text placeholder-opacity-50 ring-l-primary focus:ring-1 dark:ring-d-primary dark:placeholder-d-text dark:placeholder-opacity-50"
			placeholder="Chapter" @bind-Value="searchChapter" @bind-Value:event="oninput" OnValueChanged="OnChapterSearchChanged" @onkeyup="async (args) => { await OnKeySearch(args, 'c'); }"></DebounceInput>


			<div class="m-5 h-full overflow-auto">
				<ChapterList Chapters="chapters" SelectedChapter="selectedChapter" SelectedChapterChanged="ChapterChanged"></ChapterList>
			</div>
		</div>

	</div>


	<!-- |===== RIGHT SIDE ======| -->
	<div class="bg-default flex h-full w-full flex-col overflow-auto">

		<!--------[ TOP ]-------->
		<div class="border-b-2 border-sidepanel gap-40 flex min-h-28 justify-between w-full rounded-b-3xl bg-gradient-to-t from-l-container to-l-background px-10 dark:from-d-container dark:to-d-background">
			<DebounceInput id="VerseSearch" class="bg-default text-accented border-0 mt-10 h-16 max-w-20 rounded-xl px-3 text-sm placeholder-l-text placeholder-opacity-50 ring-l-primary focus:ring-1 dark:ring-d-primary dark:placeholder-d-text dark:placeholder-opacity-50"
			placeholder="Verse" @bind-Value="searchVerse" @bind-Value:event="oninput"  @onkeyup="async (args) => { await OnKeySearch(args, 'v'); }"></DebounceInput>

			<div class="flex flex-col mt-3.5 w-full gap-2">
				<BeaconSearchMode isBibleSearchModes="true"></BeaconSearchMode> 

				<DebounceInput id="VerseTextSearch" class="bg-default text-accented border-0  h-16 w-full rounded-xl px-3 text-sm placeholder-l-text placeholder-opacity-50 ring-l-primary focus:ring-1 dark:ring-d-primary dark:placeholder-d-text dark:placeholder-opacity-50"
				placeholder="Search text..." @bind-Value="searchVerseText" @bind-Value:event="oninput" @onkeyup="async (args) => { await OnKeySearch(args, 't'); }"></DebounceInput>
			</div>
		</div>


		<!-------[ BOTTOM ]-------->
		<div class="flex h-full w-full flex-col overflow-hidden px-10 py-7">

			<BibleLanguageList SelectedTranslation="@selectedTranslation" Translations="translations" SelectedTranslationChanged="TranslationChanged"></BibleLanguageList>

			<VerseList SelectedPortionChanged="PortionChanged" IsGlobalMode="isGlobalSearch" Verses="verses" SelectedVerse="selectedVerse" SelectedVerseChanged="VerseChanged"></VerseList>
		</div>

	</div>

</div>

@code {

	[Parameter] public Func<bool> ShouldReRender { get; set; }

	private List<Book> books { get; set; } = new();
	private List<Chapter> chapters { get; set; } = new();
	private List<BeaconVerse> verses { get; set; } = new();
	private List<string> translations { get; set; } = new();


	private Book selectedBook = new Book();
	private Chapter selectedChapter = new Chapter();
	private BeaconVerse selectedVerse = new BeaconVerse();

	private bool isGlobalSearch = false;
	private string selectedTranslation = "";
	private string searchBook = "";
	private string searchChapter = "";
	private string searchVerse = "";
	private string searchVerseText = "";

	protected override async Task OnInitializedAsync()
	{
		//Get Translations
		foreach (var bible in await BibleService.GetBiblesAsync())
		{
			translations.Add(bible.Abbreviation);
		}

		selectedTranslation = translations[0];
		books = await BibleService.GetBooksAsync(selectedTranslation, settingsService.settings.AlwaysEnglishBookNames);
		chapters = await BibleService.GetChaptersAsync(selectedTranslation, 1);
		verses = await BibleService.GetVersesAsync(selectedTranslation, 1, 1);

		selectedBook = books[0];
		selectedChapter = chapters[0];

	}

	private async Task TranslationChanged(string translation){
		selectedTranslation = translation;
		int selectedVerseCache = selectedVerse.Verse;
		books = await BibleService.GetBooksAsync(selectedTranslation, settingsService.settings.AlwaysEnglishBookNames);
		await BookChanged(selectedBook);
		await ChapterChanged(selectedChapter);
		if (selectedVerseCache != 0)
			await VerseChanged(verses[selectedVerseCache - 1]);
	}

	private async Task BookChanged(Book book){
		selectedBook = book;

		if(verses.Count > 0)
			verses.Clear();

		selectedVerse = new BeaconVerse();

		chapters = await BibleService.GetChaptersAsync(selectedTranslation, book.Id);
		await ChapterChanged(selectedChapter);
	}
	private async Task ChapterChanged(Chapter chapter)
	{
		selectedChapter = chapter;
		selectedVerse = new BeaconVerse();

		verses = await BibleService.GetVersesAsync(selectedTranslation, selectedBook.Id, selectedChapter.Id);
	}
	private async Task VerseChanged(BeaconVerse verse)
	{

		if (!String.IsNullOrWhiteSpace(searchVerseText))
		{
			searchVerseText = "";
			await BookChanged(books[verse.Book - 1]);
			await ChapterChanged(chapters[verse.Chapter - 1]);

			await InvokeAsync(StateHasChanged);

			await jSRuntime.InvokeVoidAsync("ScrollWithHeight", "BookList", verse.Book);
			await jSRuntime.InvokeVoidAsync("ScrollWithHeight", "ChapterList", verse.Chapter);
			await jSRuntime.InvokeVoidAsync("SwitchFocusTo", "VerseList");
			await jSRuntime.InvokeVoidAsync("ScrollToView", $"v({verse.Verse - 1})");
			isGlobalSearch = false;
		}

		verse.Text = verse.Text.RemoveHighlight();
		selectedVerse = verse;


		DisplayWindow.Instance.SetWindow(settingsService.settings.ProjectionMonitor);
		DisplayWindow.Instance.Show();
		DisplayWindow.Instance.Content.Text = verse.Text;
		//Edit Color Highlight here
		DisplayWindow.Instance.Content.TextWrapping = TextWrapping.Wrap;
		DisplayWindow.Instance.Content.Width = 1920;
		DisplayWindow.Instance.Header1.Text = selectedBook.Name.RemoveHighlight() + " " + selectedChapter.Id + ":" + verse.Verse;
		DisplayWindow.Instance.Header2.Text = selectedTranslation.ToUpper();

		if (verse.Text.Count() > 400)
		{
			DisplayWindow.Instance.Content.FontSize = 70;
		}
		else if (verse.Text.Count() > 200)
		{
			DisplayWindow.Instance.Content.FontSize = 85;
		}
		else
		{
			DisplayWindow.Instance.Content.FontSize = 100;
		}
	}

	private async Task PortionChanged(Tuple<int, string> portion){
		DisplayWindow.Instance.Content.HighlightCount = portion.Item1;
	}


	private async Task OnBookSearchChanged()
	{
		searchChapter = "";
		searchVerse = "";

		if (String.IsNullOrWhiteSpace(searchBook))
		{
			books = await BibleService.GetBooksAsync(selectedTranslation);
			return;
		}


		books = await BibleService.SearchBooksAsync(selectedTranslation, searchBook, settingsService.settings.AlwaysEnglishBookNames);

		if (books.Count == 1){
			await BookChanged(books[0]);
			await Task.Delay(7);
			await jSRuntime.InvokeVoidAsync("SwitchFocusTo", "ChapterSearch");
		}
	}

	private async Task OnChapterSearchChanged()
	{
		searchChapter = Regex.Replace(searchChapter, "[^0-9]", "");
		await SearchChapterNumber(); 
	}

	private async Task OnKeySearch(KeyboardEventArgs e, char type)
	{
		if(type == 'b'){
			searchBook = Regex.Replace(searchBook, @"(\d)(\p{L})", "$1 $2");
		}

		if (type == 't')
		{
			if (String.IsNullOrWhiteSpace(searchVerseText)){
				await ChapterChanged(selectedChapter);
				isGlobalSearch = false;
				return;
			}
			
			isGlobalSearch = true;

			verses = searchVerseText.StartsWith('.') ?
					await BibleService.SearchVerseGloballyAsync(selectedTranslation, searchVerseText.Substring(1))
			: await BibleService.SearchVerseFromChapterAsync(selectedTranslation, selectedBook.Id, selectedChapter.Id, searchVerseText);

			//TODO add option for search mode selection
		}

		if (e.Code != "Enter")
			return;

		if(type == 'b' && books.Count > 0){
			await BookChanged(books[0]);
			await jSRuntime.InvokeVoidAsync("SwitchFocusTo", "ChapterSearch");
			searchChapter = "";
			searchVerse = "";
		}
		if (type == 'c' && chapters.Count > 0 && !String.IsNullOrWhiteSpace(searchChapter))
		{
			await SearchChapterNumber();
		}
		if (type == 'v' && verses.Count > 0 && !String.IsNullOrWhiteSpace(searchVerse))
		{
			searchVerse = Regex.Replace(searchVerse, "[^0-9]", "");
			await SearchVerseNumber();
		}
	}

	private async Task SearchChapterNumber()
	{
		searchVerse = "";
		int searchedChapterNumber;
		bool isNumber = Int32.TryParse(searchChapter, out searchedChapterNumber);
		if (isNumber && searchedChapterNumber > 0)
		{
			var clamp = Math.Min(searchedChapterNumber - 1, chapters.Count() - 1);
			await ChapterChanged(chapters[clamp]);
			await jSRuntime.InvokeVoidAsync("ScrollWithHeight", "ChapterList", searchedChapterNumber);
			await jSRuntime.InvokeVoidAsync("SwitchFocusTo", "VerseSearch");
		}
	}

	private async Task SearchVerseNumber()
	{
		int searchedVerseNumber;
		bool isNumber = Int32.TryParse(searchVerse, out searchedVerseNumber);
		if (isNumber && searchedVerseNumber > 0 )
		{
			var clamp = Math.Min(searchedVerseNumber - 1, verses.Count() - 1);
			await VerseChanged(verses[clamp]);
			await jSRuntime.InvokeVoidAsync("SwitchFocusTo", "VerseList");
			await jSRuntime.InvokeVoidAsync("ScrollToView", $"v({clamp})");
		}
	}
}
